# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# Rider
.idea/

# NuGet
*.nupkg
packages/

# IIS Express
/.vs/solutions

# OS files
Thumbs.db
Desktop.ini

# Logs
*.log

# Resharper
_ReSharper*
*.DotSettings.user
